.carossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descriçao {
    display:flex;
    justify-content: space-between;
    gap: 0.5em;
}

.descriçao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.descriçao__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.descriçao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.descriçao__texto {
    color: var(--preto);
    font-size: 14px;
    line-height: 21px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.botoes__ancora {
    height: 24px;
    line-height: 24px;
    padding: 0.7em 2.2em;
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}


.star::before{
    content: url(../assets/Star\ 1.svg);
}

@media screen and (min-width: 1024px) {
    .carossel__titulo {
        width: 100%;
        padding: 2.5em 0 1em 0;
        font-size: 24px;
    }

    .swiper {
        width: 80%;
    }

    .swiper-pagination {
        margin: 1em 0 3em 0;
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-slide img {
        width: 70%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 3em 0 2.5em 0;
    }

    .carossel {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .descriçao {
        justify-content:flex-start;
    }

}

@media screen and (min-width: 1728px) {
    .carossel__titulo {
        font-size: 32px;
        padding: 1.5em 0 1em 0;
    }

    .carossel {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .swiper {
        width: 40%;
        margin: 2em 3em 6em auto;
    }

    .card {
        width: 30%;
        margin: 6em auto 6em 3em;
    }

    .descriçao__titulo {
        font-size: 32px;
        line-height: 48px;
    }

    .descriçao__texto {
        font-size: 16px;
    }

}